.todo-list-task__delete-button {
  width: 1.5em;
  height: 1.5em;
  margin-left: 8px;
  padding: 4px;

  line-height: 0;

  vertical-align: bottom;

  background-color: transparent;

  background-image: url("../img/icon-trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
