.todo-list-task {
  display: flex;
  align-items: center;
}

.todo-list-task--checked label {
  text-decoration: line-through;
}

.todo-list-task__delete-button {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.2em;
  margin-bottom: -2px;
  padding: 4px;

  line-height: 0;

  background-color: transparent;

  background-image: url("../img/icon-trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.todo-list-task input {
  width: 1em;
  height: 1em;
  margin: 0 1em 0 0;
  margin-bottom: -2px;

  font-size: inherit;
}
